%div.comment{ :id => "comment-#{comment.id}" }
  %hr
  - if is_admin_user?
    = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
  %dt.comment-author
    = comment.name
  %dd.comment-body
    %p= comment.body
  %dd.comment-footer
    =comment.updated_at.to_formatted_s(:long)
