.date
  - if is_admin_user?
    = link_to 'Edit', edit_page_path(page), :class => "btn btn-mini"
  = page.publish_at.to_formatted_s(:long)
  |
  = page.user.name || ""
  |
  = raw page.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
