= render :partial => 'posts/content', :locals => { :post => @post }

= link_to 'Revert', revert_version_path(@version), { :method => :post, :class => "btn" }

= link_to 'Edit', edit_version_path(@version), { :class => "btn" }
