%h1{ :id => "post_title"}= post.title
= render :partial => 'posts/subtitle', :locals => { :post => post }

%div{ :id => "post_summary"}= raw post.summary
%div{ :id => "post_content"}= raw post.rendered_body
