= render :partial => 'pages/content', :locals => { :page => @page }

= render :partial => 'pages/comments', :locals => { :comments => @comments }

= render :partial => 'pages/add_comment', :locals => { :page => @page }


