// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.highlight {
  background-color: transparent;
}


.highlight {
  word-wrap: break-word;
}

#page_summary {
  margin-top: 15px;
  margin-bottom: 15px;
}

#page_content h1 {
  margin-bottom: 15px;
}

pre {
  background-color: black;
}

code, pre {
  color: white;
}
#add_comment {
  margin-top:10px;
  margin-bottom:10px;
}
