%h1 Recent posts
%ul
  - @post_list.each do |post|
    %li=link_to post.title, post
%h1 Tag Cloud
#tag_cloud
  - tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class

- if is_admin_user? and params[:controller] == "posts" and params[:action] == "show"
  %h1 History
  = render :partial => 'posts/history', :locals => { :post => @post }
